In [8]:
#pandas
import pandas as pd

#Scaller (Robust)
from sklearn.preprocessing import RobustScaler

#Choosen algorithm
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression

#inputing
from sklearn.impute import KNNImputer

#dataset division
from sklearn.model_selection import train_test_split

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Import data

In [10]:
train = pd.read_csv("Data_after_feature_selection/train_data_scalled.csv", index_col = 0)
X_train = train.drop(columns = "Admitted in School")
y_train = train[["Admitted in School"]]

In [11]:
test = pd.read_csv("Data_after_feature_selection/test_data_scalled.csv", index_col = 0)

In [12]:
test.head()

,Sorcery School,Magi Academy,male,Experience Level,Student Siblings,Financial Background,Eldertree Enclave,Student Social Influence
Student ID,,,,,,,,
836,-1.0,1.0,-1.0,-0.030410,-0.75,-0.675372,1.0,0.304348
323,-1.0,-1.0,-1.0,-0.256597,-1.00,-0.951789,-1.0,-1.000000
117,1.0,-1.0,1.0,0.761247,-1.00,-0.969746,-1.0,-0.304348
444,-1.0,-1.0,-1.0,-0.306861,-1.00,-0.949251,-1.0,-0.304348
619,-1.0,-1.0,-1.0,-0.910028,-0.50,-0.847754,-1.0,-0.391304

# Making the predictions

In [13]:
abc = AdaBoostClassifier(algorithm = 'SAMME', base_estimator = LogisticRegression(), learning_rate = 0.1, n_estimators = 100)
abc = abc.fit(X_train,y_train)

In [15]:
y_predict = abc.predict(test)

In [16]:
test_pred = pd.DataFrame(y_predict, index = test.index, columns = ["Prediction"])
test_pred

            Prediction
Student ID
836                1.0
323                1.0
117                0.0
444                1.0
619                1.0
...                ...
21                 0.0
366                0.0
890                1.0
749                1.0
653                0.0

[176 rows x 1 columns]

# Store the results in a csv file

In [19]:
test_pred.to_csv("Group15_wizards school project.csv")